*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
    background-color: azure;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: row;
}
nav li{
    margin-right: 10px;
    list-style: none;
    border: 1px solid;
    padding: 10px;
}

input{
    margin-bottom: 10px;
}